.about-body {margin-top: 10px;}
.about-logo {
    /* height: 100px; */
    width: 100%;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}
.about-logo-background {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.big-lead {
    font-size: 1.75rem;
    line-height: 1.75rem;
}