.brand-logo {
    height: 90px;
}
.nav-brand-logo {
    height: 45px;
}

.nav-brand-logo-xs {
    height: 35px;
}

.navbar {
    padding-bottom: 0.1rem !important;
    padding-top: 0.1rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    box-shadow:  2px 2px 4px rgba(0,0,0,0.5);
    z-index: 500;
}

.nav-pills .nav-link.active {
    background-color: #1972bb !important;
    box-shadow:  1px 1px 4px rgba(0,0,0,0.6) !important;
}