.layout-root {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.layout-main-row {
  flex: 1 1 auto;
  min-height: 0;
  margin: 0 !important;
}

/* @media (min-width: 576px) {  */
/*   .map, .map-container { */
/*       height: 100% !important; */
/*   } */
/* } */

.sidebar-column {
  height: 100%;
  overflow-y: auto;
  position: relative;
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  /* z-index: 100; */
}

.map-column {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.sidebar {
  margin-bottom: 100px;
  padding-bottom: 100px;
}

@media (min-width: 576px) {
  .sidebar {
    margin-bottom: 0px;
  }
}

.tab-content {
  padding-top: 1.5rem;
}

.data-type-header {
  font-size: 1.5rem;
}

.tab-content {
  padding-top: 0rem;
}
