.datetimepicker-control {
  font-size: 1rem !important;
}

button.datetimepicker-control {
  border-radius: 0px;
  height: 100%;
}

.datetimepicker-range-note {
  color: #6c757d;
  font-size: 0.9rem;
  margin-top: 0.75rem;
}
