html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  overflow: hidden;
}

.app-shell {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
