.map-and-legend-container {
    height: 300px;
}

.map {
    height: 220px;
}

.legend-container {
    height: 80px;
}

@media (min-width: 576px) { 
    .map-and-legend-container {
        height: 100% !important;
    }    
    .map {
        height: 90% !important;
    }
    .legend-container {
        height: 10% !important;
    }    
}

.mapboxgl-ctrl-attrib-inner {
    color: rgba(0, 0, 0, 0.75);
}

#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}


