.map-and-legend-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 320px;
}

.map {
    flex: 1 1 auto;
    min-height: 240px;
}

.legend-container {
    flex: 0 0 auto;
    min-height: 80px;
}

@media (min-width: 576px) { 
    .map-and-legend-container {
        min-height: 0;
    }    
    .map {
        min-height: 0;
    }    
}

.mapboxgl-ctrl-attrib-inner {
    color: rgba(0, 0, 0, 0.75);
}

#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

